html{
margin: 0;
}
.contianer{
    padding-left: 11%;
    padding-right: 11%;
}
.m-40{
    margin-left: 20%;
    margin-right: 20%;
}
.sectin-top p{
    width: 62%;
    line-height: 1.9;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}
.section-top h1{
    color: #2e3d49 !important;
    font-size: 2.5rem;
    line-height: 48px;
    font-weight: 300;
}
.m-t-200{
    margin-top: 200px;
}
.m-t-20{
    margin-top: 65px;
}
.card{
  background: -webkit-gradient(linear,left top,right bottom, from(#a951ed),to(#ff5483)); 
  background: linear-gradient(to bottom right, #a951ed, #ff5483);
  padding: 5%; 
  height: 400px;
 margin-top: 70px;

}
.card h2{
    line-height: 2;
    color: #fff;
}
.card p{
    color: #fff;
    line-height: i.8;
    font-size: 16px;
}
.person-card{
    border: 1px solid;
    border-top: 2px solid purple;
    border-radius: 1rem;
}
h4{
    text-align: center;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
  border: 1px solid;
  border-radius: 0.5em;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-front {
  background-color: #fff;
  color: black;
}
.flip-card-back {
  background-color: rgb(203, 219, 230);
  color: #000000;
  transform: rotateY(180deg);
}
.flip-card-front img{
    border-radius: 50%;
    box-shadow: 8px 10px 20px 0px rgba(88, 136, 175, 0.15);
    display: block;
    height: 4rem;
    margin: auto;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 4rem;
}
.flip-card-front p{
    bottom: 10rem;
    width: 100%;
    height: 4rem;
    padding: 2rem;
    color: black;
    line-height: 1.5rem;
    text-align: center;
}
.person-card-first{
    border-top: 6.5px solid #a951ed;
}
.now-at{
    width: 100%;
    bottom: 9.5rem;
    color: #bcc9d4;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.now-at::before ,.now-at::after{
    position: relative;
    display: inline-block;
    content: '';
    width: 5rem;
    height: 1px;
    vertical-align: middle;
    background-color: #dbe2e8;

}
.story{
    margin-top: 40px;
    margin-left: 17%;
    margin-right: 17%;
}
h1{
    text-align: center;
}
.story p{
text-align: left;
}


